.category,
.course {
    font-weight: bold;
}

/*
tr.mod.level-2 td:first-of-type,
tr.item.level-2 td:first-of-type,
tr.category.level-3 td:first-of-type {
    padding-left:2em;
}

tr.mod.level-3 td:first-of-type,
tr.item.level-3 td:first-of-type,
tr.category.level-4 td:first-of-type {
    padding-left:4em;
}

tr.mod.level-4 td:first-of-type,
tr.item.level-4 td:first-of-type {
    padding-left:6em;
}
*/

#categoryitemform dt,
#categoryitemform dd {
   display: inline-flex;
    margin: .5em 0;
}

table.itemsettings td input {
    width:100%;
}

.calcs {
    font-size: .9em;
}