.category,
.course {
    font-weight: bold;
}

/*
tr.mod.level-2 td:first-of-type,
tr.item.level-2 td:first-of-type,
tr.category.level-3 td:first-of-type {
    padding-left:2em;
}

tr.mod.level-3 td:first-of-type,
tr.item.level-3 td:first-of-type,
tr.category.level-4 td:first-of-type {
    padding-left:4em;
}

tr.mod.level-4 td:first-of-type,
tr.item.level-4 td:first-of-type {
    padding-left:6em;
}
*/

#categoryitemform dt,
#categoryitemform dd {
   display: inline-flex;
    margin: .5em 0;
}

table.itemsettings td input {
    width:100%;
}

.calcs {
    font-size: .9em;
}

.calc-input {
    width: 100%;
    height: 200px;
    padding: 0.5em;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.pseudo-input {
    border: 1px solid #999;
    padding: .5em 15px;
}
#newcalcview:hover {
    background-color: #eee;
}

@keyframes highlightnotice {
    0% {
        color: #000;
    }
    50% {
        color: #F00;
    }
    100% {
        color: #000;
    }
}
.bad-calc {
    animation: highlightnotice 3s;
}

.form-control-static {
    width: 100%;
}

.row.rule-fields:hover,
.row.rule-cols:hover,
.row.rule-actions:hover{
    background-color: #eee;
}

.row.rule-fields .col-md-3,
.row.rule-cols .col-md-3,
.row.rule-actions .col-md-3,
.row.rule-actions .col-md-9 {
    margin-bottom: 0.5em;
}

#fitem_id_fieldcontrol .row.rule-fields:first-of-type a.up,
#fitem_id_fieldcontrol .row.rule-fields:nth-last-child(2) a.down,
#fitem_id_colcontrol .row.rule-cols:first-of-type a.up,
#fitem_id_colcontrol .row.rule-cols:nth-last-child(2) a.down {
    visibility: hidden;
}

#page-grade-report-calcsetup-editrule .row.rule-cols a i,
#page-grade-report-calcsetup-editrule .row.rule-fields i,
#page-grade-report-calcsetup-editrule .row.rule-actions i{
    margin: 0;
    padding: 0 3px;
}

#page-grade-report-calcsetup-editrule .row.rule-cols a:last-of-type i[data-action=edit],
#page-grade-report-calcsetup-editrule .row.rule-fields a:last-of-type i[data-action=edit]{
    margin-right: 0;
}

#page-grade-report-calcsetup-editrule .modal-body label {
    width:30%;
}

textarea#id_calc {
    width: 75%;
    height: 7em;
}

