<div>
    <h3>{{fullname}}</h3>
    <label for="catselector">{{#str}}choosecategory, core_grades{{/str}}</label>
    <select class="custom-select" id="catselector">
        {{#categories}}<option value="{{iteminstance}}" {{#selected}}selected="selected"{{/selected}}>{{{indent}}}{{fullname}}</option>{{/categories}}
    </select>
    <form id="categoryitemform" method="post" action="{{actionurl}}">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <dl>
            <dt class="col-md-3">{{#str}}rule, gradereport_calcsetup {{/str}}</dt><dd class="col-md-9">
            <select class="custom-select" id="ruleselector" name="rule">
                <option>{{#str}}norule, gradereport_calcsetup{{/str}}</option>
      {{#rules}}<option value="{{idnumber}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>{{/rules}}
            </select>
            </dd>
            <dt class="col-md-3">{{#str}}description{{/str}}</dt> <dd class="col-md-9">{{ruledescription}}</dd>
        {{#fields}}
            <dt class="col-md-3">{{title}}</dt><dd class="col-md-9">
            {{^options}}
                <input value="{{property}}" {{#editable}}{{#name}}name="{{name}}"{{/name}}{{/editable}} {{^editable}}disabled="disabled"{{/editable}}>
            {{/options}}
            {{#hasoptions}}
                <select class="custom-select" {{#editable}}name="{{name}}"{{/editable}} {{^editable}}disabled="disabled"{{/editable}}>
                    {{#options}}<option value="{{val}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>{{/options}}
                </select>
            {{/hasoptions}}
            </dd>
        {{/fields}}

        </dl>
        <input class="advanced btn btn-primary" type="submit" value={{#quote}}{{#str}}savechanges{{/str}}{{/quote}}>
    </form>
</div>
