<div>
    <h3>{{fullname}}</h3>
    <dl>
        <dt>{{#str}}rule, gradereport_calcsetup {{/str}}</dt><dd>{{rulename}}</dd>
        <dt>{{#str}}idnumber, core {{/str}}</dt><dd>{{idnumber}}</dd>
        <dt>{{#str}}categorytotalname, core_grades {{/str}}</dt><dd>{{itemname}}</dd>
        <dt>{{#str}}gradedisplaytype, core_grades {{/str}}</dt><dd>{{display}}</dd>
    </dl>
</div>