{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradereport_calcsetup/editaction

    Template for content in Edit rule action dialog.

    Context variables required for this template:
    * exists - boolean, are we updating a rule or making a new one
    * fields - array of objects
    * fieldswhen - array of objects
    * action - object

    Example context (json): {
        "exists": 1,
        "fields": [
            {"property": "id"},
            {"property": "courseid"},
            {"property": "categoryid"},
            {"property": "itemname"},
            {"property": "itemtype"},
            {"property": "itemmodule"},
            {"property": "idnumber", "selected": true},
            {"property": "grademin"},
            {"property": "grademax"}
        ],
        "fieldswhen": [
            {"property": "id"},
            {"property": "courseid"},
            {"property": "categoryid"},
            {"property": "itemname"},
            {"property": "itemtype"},
            {"property": "itemmodule"},
            {"property": "idnumber"},
            {"property": "grademin"},
            {"property": "grademax", "selected": true}
        ],
        "action": {
            "to": "50",
            "val": "100"
        }
    }
}}

<div>
    <div class="row py-2">
        <label class="col-md-3" for="actionset">{{#str}}set, gradereport_calcsetup{{/str}}</label>
        <select id="actionset" {{#exists}}disabled="disabled"{{/exists}} class="custom-select py-1">
            {{#fields}}
            <option {{#selected}}selected="selected"{{/selected}} {{#value}}value="{{value}}"{{/value}}>{{property}}</option>
            {{/fields}}
        </select>
    </div>
    <div class="row py-2">
        <label class="col-md-3" for="actionto">{{#str}}to, gradereport_calcsetup{{/str}}</label>
        <input id="actionto" value="{{#action}}{{to}}{{/action}}">
    </div>
    <div class="row py-2">
        <label class="col-md-3" for="actionwhen">{{#str}}when, gradereport_calcsetup{{/str}}</label>
        <select id="actionwhen" class="custom-select py-1">
            {{#fieldswhen}}
            <option {{#selected}}selected="selected"{{/selected}} {{#value}}value="{{value}}"{{/value}}>{{property}}</option>
            {{/fieldswhen}}
        </select>
    </div>
    <div class="row py-2">
        <label class="col-md-3" for="actionval">{{#str}}equals, gradereport_calcsetup{{/str}}</label> <input id="actionval" value="{{#action}}{{val}}{{/action}}">
    </div>

</div>