{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradereport_calcsetup/looper

    Calculation template loop helper template.

    Context variables required for this template:
    * fields - Array - A list of available grade item properties

    Example context (json): {
        "fields": [
            {"property": "idnumber"},
            {"property": "gradepass"},
            {"property": "grademax"}
        ]
    }
}}

<div>
    <div class="row py-2">
        <label class="col-md-3" for="loopgroup">{{#str}}group{{/str}}</label>
        <input id="loopgroup" value="">
    </div>
    <div class="row py-2">
        <label class="col-md-3" for="loopcontent">{{#str}}content{{/str}}</label>
        <input id="loopcontent" value=""> <span class="py-2">&nbsp;&lt;&lt;&nbsp;</span> <select id="loopproperty" class="custom-select py-1">
        {{#fields}}
        <option>{{property}}</option>
        {{/fields}}
        </select>
    </div>
    <div class="row py-2">
        <label class="col-md-3" for="loopseparator">{{#str}}separator, gradereport_calcsetup{{/str}}</label>
        <input id="loopseparator" value="">
    </div>
    <div class="text-right py-2">
        <input class="output col-md-12">
        <span class="copyme">{{#str}}copy{{/str}}</span>
    </div>
</div>
